<div role="button" @onclick="Clicked">
    @switch (LayoutMode)
    {
        case ButtonLayoutMode.Card:
            <div class="card bg-transparent">
                <div class="card-body d-flex flex-column gap-2 align-items-center">
                    <i class="fa-solid fa-@Icon" style="@CssClass"></i>
                    <span class="text-center">@Name</span>
                </div>
            </div>
            break;

        case ButtonLayoutMode.Normal:
            <HxTooltip Text="@Name" Placement="TooltipPlacement.Bottom">
                <i class="fa-solid fa-@Icon" style="@CssClass"></i>
            </HxTooltip>
            break;

        case ButtonLayoutMode.NoTooltip:
            <i class="fa-solid fa-@Icon" style="@CssClass"></i>
            break;
    }
</div>

@code {

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public string CssClass { get; set; }

    [Parameter]
    public ButtonLayoutMode LayoutMode { get; set; } = ButtonLayoutMode.Normal;

    [Parameter]
    public EventCallback Clicked { get; set; }

    public enum ButtonLayoutMode
    {
        Normal,
        NoTooltip,
        Card
    }

}