@page "/stats"
@page "/stats/{platform}/{identifier}"
@layout CoreLayout
@using DragonFruit.Six.Api.Seasonal.Enums
@using DragonFruit.Six.Api.Services.Verification
@using Humanizer

<HeadContent>
    <link rel="stylesheet" href="/_content/DragonFruit.Six.Client/styles/stats.css"/>

    @if (!string.IsNullOrWhiteSpace(User?.Image))
    {
        @if (!User.Image.StartsWith("/"))
        {
            <link rel="stylesheet" href="/_content/DragonFruit.Six.Client/styles/user-cover-full.css"/>
        }

        <style>
            .d6-account-cover {
                background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(@User.Image) !important;
            }
        </style>
    }
</HeadContent>

<div class="d6-account-cover">
    <D6Header Title="Stats"/>
    <div class="container mt-5">
        <D6Searchbar OnUserSubmit="q => SearchProviderState.TriggerSearch(q.username, q.platform)"/>
    </div>
</div>

<div class="d6-account-container">
    <img src="@(Account?.Image ?? "/_content/DragonFruit.Six.Client/assets/generic-avatar.png")" alt="player image" class="d6-account-avatar"/>
    <div class="d-flex align-items-center align-items-md-baseline ms-md-3 mb-md-4 mb-2 gap-3">
        @if (Account != null)
        {
            <h1 class="m-0">@Account.Username</h1>
            @if (User?.AccountRole > AccountRole.Normal)
            {
                <HxTooltip Html="true"
                           Sanitize="false"
                           Placement="TooltipPlacement.Right"
                           Text="@($"<span style=\"color: {User.GetColor()}\">{User.GetName()}</span>")">
                    <span class="material-icons-round" style="color: @User.GetColor()">@User.GetIcon()</span>
                </HxTooltip>
            }
        }
        else
        {
            <HxPlaceholderContainer Animation="PlaceholderAnimation.Glow">
                <HxPlaceholder Columns="8"/>
            </HxPlaceholderContainer>
        }
    </div>
    <div class="mx-auto ms-md-auto me-md-0 mb-md-4 d-flex align-items-center gap-2">
        <h5 class="m-0">Last updated @(LastUpdated.HasValue ? LastUpdated.Humanize() : "a long time ago")</h5>
        <AccountSaveControl Account="Account"/>
    </div>
</div>

@switch (UserPlayedGame)
{
    case true:
    {
        <div class="d6-stats">
            <StatsSeasonal Account="@Account" PreloadedStats="@PostFreezeSeasons"/>
            <div class="d6-stat-container">
                <StatsAggregation Board="@BoardType.Casual" Stats="@Casual"/>
                <StatsAggregation Board="@BoardType.Ranked" Stats="@Ranked"/>
                <StatsAggregation Board="@BoardType.Warmup" Stats="@Warmup"/>
            </div>

            <div class="d6-modern-stats">
                <div>
                    <h3>Recent Activity Overview</h3>
                    <p class="text-muted">Stats collected for Casual, Ranked and Unranked over the past ~@ModernStatsRange days</p>
                </div>

                <StatsOverview Account="@Account"/>
                <StatsOperator Account="@Account"/>
            </div>
        </div>
        break;
    }

    case false:
        <h5 class="text-center">There are no stats available for <strong>@Account.Username</strong>...</h5>
        break;

    default:
        <D6LoadingSpinner Text="Loading Stats..."/>
        break;
}

<div class="mt-4">
    <D6Footer/>
</div>