@using DragonFruit.Six.Api.Seasonal.Enums
@using DragonFruit.Six.Api.Seasonal.Entities
@using DragonFruit.Six.Client.Database.Entities
@using DragonFruit.Six.Client.Utils
@using JetBrains.Annotations

<div class="d6-season-card justify-content-md-center" id="d6-season-@SeasonInfo.Season" @onclick="Clicked" role="@(Clicked.HasDelegate ? "button" : "none")">
    <img src="@RankIconUtils.FormatRankIconUrl(Rank.IconUrl)" alt="@Rank.Name" class="d6-season-rank user-select-none @(Provisional ? "d6-season-rank-mmr" : null)">
    <div class="d-flex flex-column ms-2">
        <span class="text-truncate" style="color: @SeasonInfo.AccentColour">@(TitleOverride ?? SeasonInfo.SeasonName)</span>
        <h4 class="m-0">@Rank.Name</h4>
    </div>
</div>

@code {

    [Parameter]
    public ISeasonInfo SeasonInfo { get; set; }

    [Parameter]
    public RankInfo Rank { get; set; }

    [Parameter]
    public bool Provisional { get; set; }

    [Parameter, CanBeNull]
    public string TitleOverride { get; set; }

    [Parameter]
    public EventCallback Clicked { get; set; }

}